<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Celera</title>
</head>
<body>
<b>
<u>24/7 on-call - </u> Sudharsan
</b>
  		
On call week March-17 to March 23, 2019
<table>
  
<tr>
 <td>Mon</td>
 <td>Tue</td>
 <td>Wed</td>
 <td>Thu</td>
 <td>Fri</td>
 <td>Sat</td>
 <td>Sun</td>
</tr>
<tr>
 <td>Sudharsan</td>
 <td>Chris</td>
 <td>Sam</td>
 <td>Sudharsan</td>
 <td>Chris</td>
 <td>Sudharsan</td>
 <td>Sam</td>
 
</tr>
</table>
</body>
</html>
